body {
  margin: 0;
  padding: 0;
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  display: flex;
}

.sideBar {
  background-color: #F7F9FA;
  width: 25%;
  height: 100vh;
}

.sideBar ul {
  list-style: none;
}

.fa-dropbox {
  color: #0063FF;
}

.home {
  width:75%;
}

.home-container {
  display: flex;
}

.main {
  width: 75%;
}

.state {
  background-color: #F7F9FA;
  width: 45%;
}

.state ul {
  padding: 0;
}

.home ul {
  list-style: none;
}

.rightBar {
  width: 25%;
  background-color: #F7F9FA;
}
